{
  "presets": [
    ["@babel/preset-env"],
    ["@babel/preset-typescript", { "jsxPragma": "h" }]
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", { "pragma": "h" }],
    ["babel-plugin-jsx-pragmatic", {
      "module": "preact",
      "import": "h",
      "export": "h"
    }],
    ["babel-plugin-styled-components"]
  ]
}
