* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: black;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
}

canvas {
  width: 100%;
  height: 100%;
}

.ui {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  display: grid;
  grid-template-areas:
    ". . ."
    ". . e"
    ". . e"
    ". . .";
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr 3fr 1fr;
}

.excercises {
  grid-area: e;
  pointer-events: all;
  background: grey;
}
